{% extends 'base.html' %}


{% block title %}
Головна сторінка сайту
{% endblock %}

{% block body %}
<div class="container">
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">{{quotes[0]}} </h1>
      <h3>© {{quotes[1]}}</h3>
      <a class="btn btn-warning" href="\create-article">Додати cвою статтю</a>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>З чого почати писати статтю?</h2>
        <p>Стаття – це невеликий публіцистичний чи науковий твір в збірнику, посібнику, газеті, журналі чи в мережі інтернет. Сила статті – не в насиченості фактами, а саме в узагальненнях, які спираються на аналіз конкретних явищ і подій. Як же написати статтю? Якою повинна бути її структура? Перед тим як почати писати статтю, слід обрати тему і визначитися з аудиторією. А вже потім починати збирати необхідний матеріал та інформацію для написання.</p>
        <h4>Завдання автора статті:</h4>
        <p>звернути увагу читача на актуальну проблему, важливу подію чи надзвичайну ситуацію;
          переконати його в правдивості або ж помилковості певної ідеї, думки тощо.
          За видами статті розрізняють оглядові, полемічні, літературно-критичні, науково-популярні, наукові та пропагандистські. Кожний різновид відрізняється манерою викладу матеріалу.</p>
        <h4>Стаття має таку структуру:</h4>  
        <p>- заголовок </p>
        <p>- вступ</p>
        <p>- основний зміст (основна частина)</p>
        <p>- висновок</p>  
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Варто памятати:</h2>
        <p>1. Яскравий заголовок. Заголовок має привернути увагу аудиторії з першого погляду. Тому він має бути влучним, інформативним та цікавим. У назві статті повинна бути «родзинка», щоб заінтригувати читача. Адже вже з назви зрозуміло чи варто статтю читати, чи є вона корисна й пізнавальна.</p>
        <p>2. Чіткий та привабливий вступ сприяє продовженню читання. Він повинен складатися з 2-3 речень. В цих реченнях автор має викликати інтерес читачів до поставленої проблеми, до описаної ситуації (приблизно 10% від усього тексту).</p>
        <p>3. Основна частина – це розкриття теми статті, опис проблеми та подробиць, які мають зацікавити аудиторію (80% від усього тексту).</p>
        <p>4. Висновок – логічне закінчення статті, узагальнення та рекомендації (10% відсотків від усього тексту).</p>
        <p>5. Краще статтю писати не складними, а простими реченнями. Так вона буде більш доступною для читача.</p>
        <p>6. Текст статті треба розподіляти на абзаци. Перехід між абзацами має бути «плавним», тобто між частинами тексту повинен бути смисловий зв'язок. Один абзац має містити не більше 10 речень, об’єднаних однією мікротемою.</p>
        <p>7. Під час написання статті треба дотримуватися грамотності, логічності, аргументованості та лаконічності, вживання літературної мови. Потрібно перевіряти текст на наявність пунктуаційних та орфографічних помилок.</p>
      </div>
    </div>
  </div>
  </div>
{% endblock %}

